{% extends '::base.html.twig' %}

{% block body %}
    {% for evento in eventos %}
    <div class="well">
        <h4><a href="">
                {{ evento.descripcion }}
        </a></h4>

        <dl>
            <dt>Inscriptos</dt>
            <dd>{{ evento.inscripciones.count }}</dd>
        </dl>


        <a class="btn btn-success" href="{{ path('inscribirse', { 'evento': evento.id }) }}">Inscribirse</a>
    </div>
    {% endfor %}
{% endblock body %}
